.hamburger {
    height: 22px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    right: 30px;
    top: 20px;
    align-items: flex-end;
    cursor: pointer;

    span {
        width: 30px;
        height: 3px;
        background: white;
        display: block;
    }

    span.long {
        width: 36px;
    }


}