.price {
    padding-top: 60px;

    &__title {
        @include before_circle;
        position: relative;
        text-align: center;

        &:before {
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__divider {
        @include divider;
    }

    &__container {
        padding: 60px 50px 0 50px;
        display: grid;
        grid-template-columns: repeat(2, 366px);
        grid-template-rows: repeat(1, minmax(162px, auto));
        justify-content: space-between;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: 366px;
        grid-template-rows: repeat(3, minmax(44px, auto));
        row-gap: 15px;
    }

    &-content {
        display: grid;
        grid-template-columns: repeat(2, 183px);
        grid-template-rows: repeat(2, 22px);
        row-gap: 5px;
        position: relative;

        &__title {
            line-height: 24px;
            position: relative;

            &:before {
                content: '';
                width: 15px;
                height: 15px;
                position: absolute;
                border-radius: 15px;
                background: $main-color;
                left: -26px;
                top: 4px;
            }
        }

        &__subtitle {
            position: absolute;
            right: 0;
            line-height: 24px;
        }

        &__descr {
            grid-column: 1/3;
        }
    }
}