.utility {
    padding-top: 120px;

    &__title {
        text-align: center;
        @include before_circle;
        position: relative;

        &:before {
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__subtitle {
        text-align: center;
    }

    &__divider {
        width: 60px;
        height: 3px;
        background: #FFA501;
        margin: 0 auto;
        margin-top: 25px;
    }

    &__container {
        padding: 0 65px;
            display: grid;
            grid-template-columns: 375px 375px;
            
            row-gap: 45px;
            column-gap: 199px;
            justify-content: center;
            margin-top: 60px;
            position: relative;
            
        ul {
            list-style-type: none;
            li {
                position: relative;
                margin-bottom: 45px;
                &:after {
                    content: '';
                    width: 1px;
                    height: calc(100% + 59px);
                    position: absolute;
                    top: -63px;
                    left: -41px;
                    background-color: black;

                }

                &:nth-child(1) {
                    &:after {
                        height: 111%;
                        top: 22px;
                        left: -41px;
                    }
                }

               /*  &:nth-child(3) {
                    &:after {
                        height: 111%;
                        top: 22px;
                        left: -41px;
                    }
                } */
                
            }
        }

        #third {
            grid-row: 2/3;
        }

    }

    &-wrapper {
        display: grid;
        grid-template-columns: 38px 337px;
        grid-template-rows: minmax(0px, auto) minmax(0px, auto);
        row-gap: 12px;
        position: relative;
        
        
        &__title {
            color: #000;
            font-size: 20px;
            font-weight: 700;
            grid-column: 1/3;
            position: relative;

            &:before {
                content: '';
                width: 15px;
                height: 15px;
                border-radius: 15px;
                background: $main-color;
                position: absolute;
                left: -48px;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        &__subtitle {
            grid-column: 2/3;
            grid-row: 1/2;
            color: #000;
            font-size: 12px;
            font-weight: 500;
            margin-left: 20px;
            position: relative;

            &:after {
                position: absolute;
                content: '';
                height: 1px;
                top: 50%;
                transform: translateY(-50%);
                width: 41px;
                left: -98px;
                background-color: black;
            }

            &-title {
                color: #000;
                font-size: 14px;
                font-weight: 700;
            }
        }



        &__descr {
            color: #000;
            font-size: 12px;
            font-weight: 500;
            line-height: 21px;
            grid-column: 1/3;
            position: relative; 
       
        }

        &__img {
            @include before_circle;
            position: relative;
            margin-left: 17px;
            margin-top: 13px;

            &::before {
                left: -17px;
                top: -51%;
            }

        }
    }
}